#a {
    height: 300px;
    width: 600px;
    background-color: darkred;
}
#a_a {
    height:40px;
    width:100;
    background-color:white;
}
#a_b {
    height:40px;
    width:100;
    background-color: black
}