.a {
    background-color: red;
    width:100px;
    height: 200px;
    margin-bottom:10px
}
.b {
    background-color: green;
    width:200px;
    height:400px;
    margin-bottom:10px;
}
.c {
    background-color: cyan;
    width:500px;
    height:200px;
}