#a {
    text-align: center; color:blue;
}
.a {
    color: pink; border:dashed red; border-radius: 10px;
}
.b {
    border:double 5px red; border-radius: 10px;
}
body {
    background-color: black;
}