.box {
    width: 200;
    height: 200;
    background-color: rgb(127, 244, 255);
}

#a {
    color: rgb(255, 50, 25);
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(246, 129, 246);
}