* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-img {
    width: 100%;
    display: block;
}

.content {
    padding: 20px;
}

.brand {
    font-size: 12px;
    letter-spacing: 2px;
    color: gray;
}

.title {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
}

.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.zveli-price {
    font-size: 14px;
    color: gray;
    text-decoration: line-through;
}

.btn {
    width: 100%;
    background-color: #3d8168;
    color: white;
    border: none;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
@media (max-width:400px){
    .card {
        height:350px;
    }
}
